Redirect /bmg-ipad http://www.businessmodelgeneration.com/toolbox
Redirect /bmg-web https://strategyzer.com
Redirect /moz-ranking-factors http://moz.com/article/search-ranking-factors
Redirect /ga http://www.google.com/analytics/
Redirect /google-adwords http://adwords.google.com/
Redirect /facebook-ads https://www.facebook.com/advertising
Redirect /landing-page https://delicious.com/marcelotoledo/tag_bundle/Landing%20Page
Redirect /metrics https://delicious.com/marcelotoledo/tag_bundle/Dono%20-%20Metrics
Redirect /investidores-e-rounds-brasil http://dealbook.co
Redirect /captable http://queroserdono.com/files/dono-cap-table.xls
Redirect /pl http://queroserdono.com/files/dono-pl.xls
Redirect /fluxo-de-caixa http://queroserdono.com/files/dono-fluxo-de-caixa.xlsx